@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: radial-gradient(circle at bottom, rgb(22, 22, 82) 0, black 100%);
  height: 100vh;
  overflow: hidden;
  animation: gradient 15s ease infinite;
}


.title {
  position: relative;
  font-family: 'Orbitron', sans-serif;
  font-size: 350%;
  letter-spacing: 1rem;
  color: #61FCF9;
  text-align: center;
  -webkit-animation: title 1s ease-in-out infinite alternate;
  -moz-animation: title 1s ease-in-out infinite alternate;
  animation: title 1s ease-in-out infinite alternate;
}

.rocket {
  text-shadow: none;
}


.spaceCard {
  width: 100%;
  height: 100%;
  border-radius: 5%;
}

.spaceCard:hover {
  cursor: pointer;
}

.cards-wrapper {
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  grid-template-rows: 200px 200px 200px 200px;
  grid-row-gap: 5px;
  grid-column-gap: 5px;
  justify-content: center;
}

.NavBar {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.nav-container {
  position: absolute;
  top: 30.2%;
}

.nav {
  color: #90F8FB;
  padding: 40px;
  font-size: 30px;
  text-decoration: none;
  font-family: 'Orbitron', sans-serif;
}

.nav:hover {
  -webkit-animation: nav 1s ease-in-out infinite alternate;
  -moz-animation: nav 1s ease-in-out infinite alternate;
  animation: nav 1s ease-in-out infinite alternate;
}

.counters {
  color: #90F8FB;
  font-family: 'Orbitron', sans-serif;
  font-size: 23px;
}

.counters-container {
  display: flex;
  width: 800px;
  margin-right: auto;
  margin-left: auto;
  justify-content: space-between;
}

.instructions {
  color: white;
  font-family: 'Orbitron', sans-serif;
  line-height: 150%;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 15%;
  margin-left: 80%;
  padding: 40px;
}

.end-game {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
}

.play-again {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  height: 80px;
  width: 230px;
  font-size: 35px;
  font-family: 'Orbitron', sans-serif;
  padding: 10px;
  border: 2px solid #90F8FB;
  color: white;
  background-color: black;
}

.submit-form {
  font-family: 'Orbitron', sans-serif;
  font-size: 11px;
  height: 30px;
  border: 2px solid #90F8FB;
  color: #90F8FB;
  background-color: black;
}

#submit-button {
  border-radius: 0;
  height: 36px;
  border: 2px solid #90F8FB;
  color: white;
  background-color: black;
}

#submit-button:hover {
  border: 2px solid #90F8FB;
  color: black;
  background-color: #90F8FB;
  cursor: pointer;
  transition: all 1s ease-out;
}

.play-again:hover {
  border: 2px solid #90F8FB;
  color: black;
  background-color: #90F8FB;
  cursor: pointer;
  transition: 1s;
}

.HighScores {
  color: white;
  font-family: 'Orbitron', sans-serif;
}

.high-scores-container {
  display: flex;
  justify-content: center;
  border-spacing: 50px;
  margin-top: 10%;
}

th {
  font-size: 25px;
}

th,
td {
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 40px;
}

.Settings {
  display: flex;
  color: white;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-family: 'Orbitron', sans-serif;
  margin-top: 20%;
}

.cardSetButton {
  width: 140px;
  height: 140px;
  font-size: 60px;
  border-radius: 100%;
  border: none;
  background-color: #a9fc03;
  margin-right: auto;
  margin-left: auto;
}

.cardSetButton:hover {
  background-color: #699c03;
  transition: 1s;
  cursor: pointer
}

@keyframes title {
  from {
    text-shadow: 0 0 10px #3CA1BF, 0 0 15px #3CA1BF;
  }

  to {
    text-shadow: 0 0 15px #3CA1BF, 0 0 20px #3CA1BF, 0 0 25px #3CA1BF;
  }
}

@keyframes nav {
  from {
    text-shadow: 0 0 2px #fff, 0 0 5px #fff, 0 0 7px #94B61E, 0 0 10px #94B61E;
  }

  to {
    text-shadow: 0 0 5px #fff, 0 0 7px #94B61E, 0 0 10px #94B61E, 0 0 12px #94B61E;
  }
}